.btn-proceed{
    background-color: #d70000;
    color: white;
    border: hidden;
    padding: 10px;
    font-weight: bold;
}

.btn-proceed:hover{
    background-color: whitesmoke;
    color: black;
}

.fg{
    border: 1px solid white;
    transition: all .9s linear;
    border-radius: 10px;
}
.InputContainer .InputElement {
    position: absolute;
    top: 0;
    color: white;
}
.fg:hover{
    transition: all .9s linear;
  
}
.StripeElement.StripeElement--focus,
.StripeElement.StripeElement--empty {
    background: white;
    padding: 10px;
}
.bty:hover{
    transition: all .9s linear;
    box-shadow: silver 3px 3px 3px 3px;
}
.Subtotal{
    font-weight: bold;
}
.cart{
    background-color: #d70000;
}
.btn-Remove-cart{
    background-color: #d70000;
    color: white;
    border: hidden;
    padding: 7px;
    font-weight: bold;
    border-radius: 15px;
}
.btn-Remove-cart:hover{
    background-color: whitesmoke;
    color: black;
}
.background-color{
    background-color:lightgoldenrodyellow;
    padding: 50px;
}
.Browse-btn {
    background-color: #d70000;
    border: hidden;
    width: 200px;
    padding: 10px;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.Browse-btn:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}
.futter {
    height: 30vh;
    margin-top: 90px;
}
@media only screen and (max-width: 1200px) {
    .futter {
        height: 30vh;
        margin-top: 90px;
    }
}
.copyright-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d70000;
    height: 35px;
}
.copyright-checkout h1{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.h1h1 {
    border-bottom: 3px solid black;
    padding-bottom: 4px;
    margin-top: 10px;
}
@media only screen and (max-width: 1200px)  {
    .h1h1 {
        font-size: 20px;
    }
}
.single-input-wrap input {
    background: #FAF7F2;
    border-radius: 6px;
}
.checkpgrow label {
    color: black;
}
.btnadd,.btnminus{
    padding: 1px 10px;
    font-size: 17px;
    border: none;
}
.inputqty{
    padding: 0px 9px;
    border: 2px dotted #80808070;
}
@media screen and (max-width: 650px)
{
    .bill-payment-wrap, .main_container_form{
        width: 95%;
    }
    .foodMain_checkout h4.food_checkout_title {
        font-size: 14px;
        text-align: left;
    }
    p.food_checkout_descriptionsss {
        font-size: 12px;
        text-align: left;
    }
    .pricetags_checkout {
        position: absolute;
        right: -84px;
        top: unset;
        float: right;
    }
}

@media screen and (max-width: 551px)
{
    .foodport_items_checkout {
        width: 85%;
        margin: 0 auto;
        display: block;
        padding-top: 10px;
    }
    .foodMain_checkout h4.food_checkout_title {
        text-align: center;
    }
    p.food_checkout_descriptionsss {
        text-align: center;
    }
    .pricetags_checkout {
        position: unset !important;
        text-align: center !important;
    }
    .foodMain_checkout {
        display: block !important;
        position: unset !important;
        padding-left: 6px;
    }
    .foodport_items_checkout>img {
        height: 100px;
        width: 134px;
        margin: 10px auto;
        display: block;
    }
    .quantity_group{
        display: flex;
        justify-content: center;
        padding-bottom: 43px;
    }
}

