.font-home {
  font-family: "Acme", sans-serif;
}
.search{
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  font-family: 'POPPINS';
  font-weight: 700;
  border: none;
  border-radius: 0px 10px 10px 0px;
}
#customers-testimonials{
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
  text-align: center;
		    padding: 50px;
				margin-bottom:80px;
		    opacity: .2;
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
        opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}

.imgtest{
  height: 94px;
  width: 97px;
  margin-bottom: -10px;
  border-radius: 50%;
  border: 2px solid red;
  box-shadow: 2px 2px 5px grey;
}
.font-poppins {
  font-family: "Poppins", sans-serif !important;
}
.mobile-image {
  width: 550px;
  height: 500px;
}
.asd{
  background-color: #d70000;
}
.testimonials {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonial-name {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}
.white-thing {
  margin: 15px;
  background-color: white;
  text-align: center;
  width: 23%;
  border-radius: 10px;
  float: left;
  padding: 20px;
  height: 380px;
}
.Download-the-App {
  display: block;
}
.Download-the-App h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
}
.Download-the-App p {
  color: white;
}
.p-tab {
  font-size: 15px;
}
.Heading-one {
  font-weight: bolder;
  font-size: 40px;
}
@media only screen and (max-width: 1200px) {
  .Heading-one {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
.btn-mobile {
  margin: 2px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: "PT Sans Narrow", sans-serif;
}
.form-search-bar {
  background-color: red;
  width: 550px;
  height: 100px;
  border-bottom: 100px solid black;
  border-left: 120px solid transparent;
  display: flex;
  flex-wrap: wrap;
}
.Imput-Search {
  width: 240px;
  height: 60px;
  border-radius: 10px;
}
.for-white{
  color: white;
}
.green h1 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.green p {
  font-size: 13px;
}
@media only screen and (max-width: 1200px) {
  .Mobile-image-sec {
    width: 300px;
    margin-top: 100px;
    top: -50px;
    height: 200px;
  }
  .Red-section {
    background-color: red;
    height: 80vh;
  }
  .mobile-image {
    width: 300px;
    height: 300px;
  }
  .testimonials {
    display: flex;
    justify-content: space-between;
  }
  .green h1 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .green p {
    font-size: 13px;
  }
  .white-thing {
    width: 300px;
    height: 400px;
  }
  .Download-the-App h1 {
    padding: 15px;
    color: black;
  }
  .Download-the-App p {
    padding: 15px;
    color: white;
  }
  .btn-mobile {
    margin-left: 25px;
  }
  .form-search-bar {
    width: 380px;
    height: 150px;
    border-bottom: 150px solid black;
    border-left: 120px solid transparent;
    margin-right: 50px !important;
  }
  .Imput-Search {
    /* margin-right: 20px !important; */
    /* margin-right: 20px; */
    width: 170px;
  }
  .MuiTab-root {
    max-width: 125px !important;
  }
  .form-search-bar {
    width: 550px;
    height: 78px;
    border-bottom: 107px solid black;
    border-left: 120px solid transparent;
  }
}
.Red-section {
  background-color: red;
}
.Red-section-sub {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.Mobile-image-sec {
  position: relative;
  top: -100px;
  height: 298px;
}
.font-home {
  font-family: "Acme", sans-serif;
}
.mobile-image {
  width: 550px;
  height: 500px;
}

.testimonials {
  /* width: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-name {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}
.white-thing {
  margin: 15px;
  background-color: white;
  text-align: center;
  width: 23%;
  border-radius: 10px;
  float: left;
  padding: 20px;
  height: 380px;
}
.Download-the-App {
  display: block;
}
.Download-the-App h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
}
.Download-the-App p {
  color: white;
}
.btn-mobile {
  margin: 2px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: "PT Sans Narrow", sans-serif;
}
.form-search-bar {
  background-color: red;
  width: 550px;
  height: 100px;
  border-bottom: 100px solid black;
  border-left: 120px solid transparent;
  display: flex;
  flex-wrap: wrap;
}
.Imput-Search {
  width: 240px;
  height: 60px;
  border-radius: 10px;
}
.green h1 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.green p {
  font-size: 13px;
}
@media only screen and (max-width: 1200px) {
  .Mobile-image-sec {
    width: 300px;
    margin-top: 100px;
    top: -50px;
    height: 200px;
  }
  .Red-section {
    height: 51vh;
  }
  .Download-the-App {
    display: block;
    position: relative;
    top: -78px;
}
.mobile-image {
  width: 275px;
  height: 275px;
}
.footers {
  position: relative;
  bottom: 0;
  top: 246px;
}
.footer-bgimage {
  height: 50vh;
  position: relative;
}
  .green h1 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .green p {
    font-size: 13px;
  }
  .white-thing {
    width: 300px;
    height: 400px;
  }
  .Download-the-App h1 {
    padding: 15px;
    color: black;
  }
  .Download-the-App p {
    padding: 15px;
    color: white;
  }
  .btn-mobile {
    margin-left: 25px;
  }
  .form-search-bar {
    width: 380px;
    height: 150px;
    border-bottom: 150px solid black;
    border-left: 120px solid transparent;
    margin-right: 50px !important;
  }
  .Imput-Search {
    /* margin-right: 20px !important; */
    /* margin-right: 20px; */
    width: 170px;
  }
  .MuiTab-root {
    max-width: 125px !important;
  }
  .form-search-bar {
    width: 550px;
    height: 78px;
    border-bottom: 107px solid black;
    border-left: 120px solid transparent;
  }
}
.Red-section {
  background-color: #d70000;

}
.Red-section-sub {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.Mobile-image-sec {
  position: relative;
  top: -100px;
  height: 298px;
}
.banner {
  height: 600px;
  position: relative;
  color: white;
  object-fit: contain;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
@media only screen and (max-width: 1200px) {
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
}
.banner__title {
  margin-top: 106px;
  font-size: 67px;
  font-weight: 700;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 6px;
  margin-top: 167px;
}

@media only screen and (max-width: 1200px) {
  .banner__title {
    margin-top: 148px;
  }
}
.test__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.Download-the-App p {
  padding: unset;
  text-align: left;
}
.Red-section {
  height: 34vh;
}
.banner__fadeBottom {
  height: 17rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(32, 32, 32, 0.021),
    rgb(2, 2, 2)
  );
}
.banner__button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(10, 10, 10, 0.192);
  padding-bottom: 0.5rem;
}
.banner__button:hover {
  color: black;
  background-color: white;
  transition: all 0.2s;
}
.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

@media only screen and (max-width: 1200px) {
  .Searchbar {
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    
  }

}
.services_container {
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services{
  padding: 8px 28px;
  border: 1px solid gray;
  margin: 0px 18px;
  transition: all .5s linear;
  width: 20%;    
  height: 291px;
}
.services:hover {
  background-color: #e63946;
  color: white;
  transition: all .9s linear;
}
.img_body{
  height: 100px;
  width: 100px;
  margin: auto;
}

.img_body img{
  height: 83px;
  width: 86%;
}
.text_body h3,p{
  text-align: center;
}
.text_body p{
  line-height: 20px;
  text-transform: capitalize;
}
.haFfcU {
  background: rgb(238, 238, 238);
  height: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  z-index: 12;
}
.cPPGbz {
  position: relative;
  right: 137px;
}
.autocomplete-dropdown-container {
  width: 316px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input.location-search-input {
  width: 100%;
  height: 50px;
  background: white;
  border: none;
  color: black;
  border-radius: 10px 0px 0 10px;
  padding: 15px;
}
.back_black_box
{  background: #08080885;
  height: 63px;
  padding: 6px;
  border-radius: 5px;
  width: 50%;
} 
.input_parent{
  display: flex;
  flex-direction: row;
}
.fa-search-location{
  position: absolute;
  padding: 14.5px;
  color: white;
  font-size: 21px;
  box-shadow: inset -61px 5px 1px #e70d0d !important;
}
 input.location-search-input::placeholder {
  padding-left: 36px;
  letter-spacing: 3px;
  color: black;
}
@media only screen and (max-width: 992px) {
  .back_black_box {
    width: 90%;
}
.banner__title {
  margin-top: 129px;
}
.banner {
  height: 60vh!important;
}
.fa-search-location {
  padding: 14.5px;
  height: 50px;
  position: relative;
  top: 7px;
  font-size: 17px;
}
.search {
  width: 79px;
  position: relative;
  top: 7px;
  font-size: 12px;
}
}
@media only screen and (max-width: 734px)
{
  .banner__title {
    margin-right: unset;
    font-size: 35px;
}
}
@media only screen and (max-width: 552px)
{
  .banner__title {
    font-size: 30px;
}
.back_black_box {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: -4%;
}
}
@media only screen and (max-width: 500px){
  .input_parent {
    display: unset;
}
input.location-search-input {
  border-radius: 10px;
}
.fa-search-location {
  position: unset;
  padding: 14.5px;
  color: white;
  font-size: 21px;
  box-shadow: inset -61px 5px 1px #e70d0d !important;
}
.Red-section {
  height: 57vh;
}
.footer .columnss {
  width: 40%;
}

.MuiTab-wrapper {
  font-size: 10px;
}
.search {
  width: 140px;
  position: relative;
  top: 5px;
}
.Download-the-App {
  display: block;
  position: relative;
  top: unset;
}
.Download-the-App p {
  padding: unset;
  color: white;
  text-align: left;
  padding-left: 17px;
}
.Android-apple-image {
  width: 150px;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
.fa-search-location {
  padding: 14.5px;
  height: 50px;
  position: relative;
  top: 8px;
}
.searches{
  position: absolute;
  top: -90%;
  right: 0;
}
.banner__title {
  margin-top: 0px;
}
.back_black_box {
  top: 60px;
}
.banner {
  height: 85vh !important;
}
.logoasheader img {
  height: 57px;
  position: relative;
  height: 34px;
  float: left;
}
input.location-search-input::placeholder {
  padding-left: 10px;
  font-size: 12px;
}
.MuiTab-root {
  padding: 6px 1px;
}
.MuiTab-wrapper {
  padding: 9px 9px;
}
}
.red-one {
  color: #d70000;
  padding-left: 15px;
}
@media only screen and (max-width: 1200px) {
  .red-one {
    display: flex;
    flex-direction: column;
    color: #d70000;
    padding-right: 150px;
  }
}
.font {
  font-family: "Birthstone", cursive;
 
}
.autocomplete-dropdown-container {
  width: 680px !important;
}
.Bar {
  background-color: red;
  height: 100px;
}
.Search-form {
  height: 100px;
}
.red-two {
  color: red;
}
.Second-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.View-all-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_container{
  background-color: #efefef;
  display: flow-root;
  position: relative;
  top: 92px;
}
.span_colors{
  color: red;
}
.about_head {
  width: 50%;
  position: absolute;
  padding: 37px;
}
.about_head h3{
  text-align: center;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}
.about_text{
  float: right;
  position: relative;
  right: 0;
  width: 50%;
  padding: 22px;
}

.about_text p{
  text-align: left;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
}
.View-All {
  background-color: #fff;
    border: hidden;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-weight: 700;
    color: #000;
    padding: 5px 20px;
}
.View-All:hover {
  background-color: #d70000;
  border: hidden;
  color: white;
  font-weight: bold;
}
.inputss {
  height: 60px;
  width: 350px;
  border: hidden;
  color: black;
}
.btn-search {
  height: 60px;
  width: 160px;
  margin-left: 2px;
  background-color: #d70000;
  border: hidden;
  color: white;
}
@media only screen and (max-width: 1200px) {
  .inputss {
    height: 40px;
    width: 320px;
    border: hidden;
    color: black;
    border-radius: 10px;
  }
  .btn-search {
    margin: 10px;
    height: 30px;
    width: 140px;
    margin-left: 2px;
    background-color: #d70000;
    border: hidden;
    color: white;
    border-radius: 10px;
  }

}

.Discover {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}
.Discover h1{
  font-weight: bold;
}
@media only screen and (max-width: 1200px)  {
  .Discover h1{
      font-size: 20px;
  }
}
.copyright-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d70000;
  color: white;
  height: 35px;
}
.copyright-home h1{
  font-size: 15px;
  font-weight: bold;
  margin-top: 7px;
}
@media only screen and (max-width: 1200px) {
  .copyright-home h1{
    font-size: 10px;
    font-weight: bold;
  }
}
.white-color {
  color: white;
  font-weight: bold; 
}
@media only screen and (max-width: 1200px) {
  .white-color {
    font-size: 20px;
  }
}
.Simple-line {
  padding-top: 10px;
  border-bottom: 2px solid white;
}
.Android-apple-image {
  width: 200px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .Android-apple-image {
    width: 150px;
  }
}
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .columnss {
  width: 25%;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .social{
  margin-top: 10px;
}
.footer .columnss h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: red;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.social a {
  text-decoration: none;
}
.social a  i{
  display: inherit;
  background: red;
  padding: 13px 13px;
  margin: 5px;
  font-size: 20px;
  border-radius: 41px;
  text-transform: none;
  color: white;
  position: relative;
  top: 10px;
}
.footer .columnss ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .columnss ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .columnss ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .columnss {
    width: 33%;
  }
  .footer .columnss h1 {
    font-size: 14px;
  }
  .footer .columnss ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .columnss {
      width: 100%;
    }
    .footer .columnss h1 {
      font-size: 14px;
    }
    .footer .columnss ul li {
      font-size: 13px;
    }
}
/* @media only screen and (max-width: 340px) {
  .footer .columnss {
    width: 100%;
  }
} */
@media only screen and (max-width: 400px){
  
  .Red-section {
      height: 65vh;
  }
  .fa-search-location {
      display: none;
  }
}
@media only screen and (max-width: 415px)
{
    .bannertitle {
        font-size: 30px;
    }
    .search {
      top: 59px;
  }
}

@media only screen and (max-width: 412px)
{
  .search {
    width: 81px;
    position: relative;
    top: 59px;
    right: 6px;
}
.fa-search-location {
  padding: 14.5px;
  height: 50px;
  position: relative;
  top: 63px;
}
}

@media only screen and (max-width: 376px)
{
    .search {
        top: 63px;
    }
    .banner {
        height: 75vh!important;
    }
    .Red-section {
        height: 65vh;
    }
}
@media only screen and (max-width: 361px)
{
    .bannertitle {
        margin-top: -75px;
    }
    .banner {
        height: 80vh!important;
    }
    .Red-section {
        height: 90vh;
    }
}
@media only screen and (max-width: 321px)
{
    .banner__title {
        font-size: 23px;
    }
    .search {
      top: 62px;
  }
    .Discover h1 {
        font-size: 15px;
    }
    .Red-section {
        height: 100vh;
    }
}
@media screen and (max-width: 500px)
{
  .footer .columnss ul {
    text-align: center !important;
}
.footer .columnss h1 {
    text-align: center !important;
}
.social a i {
    padding: 9px !important;
    font-size: 15px !important;
}

.footer .columnss {
  text-align: center;
}

}
@media screen and (max-width: 501px) {
  .copyright-home > a {
      display: none !important;
  }
}