.orders {
    padding: 1px 80px;
}

.orders > h1 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
}
.ordersss{
    padding: 1px 80px;
    margin: auto;
}

.orders {
    padding: 1px 80px;
    margin: auto;
}
@media (min-width: 901px)
{
    .imagesboxes {
        width: 100%;
    }
    .foodorders {
        width: 100%;
    }
}
.order, .orderss {
    padding: 90px;
    background-color: #fff;
    position: relative;
    width: 100% !important;
    display: flex;
    margin: 29px auto !important;
    border-radius: 9px;
    border: 1px solid hsla(0,0%,50.2%,.34901960784313724);
    box-shadow: inset -3px 2px 17px #80808047;
}
@media screen and (max-width: 800px)
{
    .order, .orderss {
        display: flex;
        flex-direction: column !important;
    }
    .ordersdatils {
        margin-left: unset !important;
        width: 100%;
        margin-top: 13px;
    }
}
@media screen and (max-width: 501px)
{
    .orders, .ordersss {
        padding: unset !important;
        margin: unset !important;
    }
    .imagesboxes {
        width: 125% !important;
    }
    .ordersdatils {
        width: 123% !important;
    }
    .orders>h1 {
        font-size: 23px;
        text-align: center;
    }
}

.ordersdatils  {
    text-align: left;
    border: 1px solid #80808052;
    margin-left: 23px; 
    width: 75%;
}
.ordersdatils> h2  {
    text-align: left;
    padding-top: 10px;
    border-bottom: 1px solid #80808059;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: UPPERCASE;
    font-weight: 600;
}
.orders>h1 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.order-admin-price, .orders_titles {
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: left;
}
.order-admin-title, .order-admin-title-one {
    margin-top: 13px;
    font-weight: 700;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: left;
}

.imagesboxes::-webkit-scrollbar-thumb {
    background-color: red;
    background-image: -webkit-linear-gradient(
90deg, rgba(255, 255, 255, .2) 25%,transparent 25%, transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%, transparent 75%,transparent);
    height: 100px;
}
.imagesboxes::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.imagesboxes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
}
.imagesboxes {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
    width: 85%;
}

    .ordersdatils li {
        list-style: none;
        border: 1px solid #80808059;
        padding: 5px 20px;
        margin: 3px 0;
        margin-right: 21px;
    }