.tabs {
    display: flex;
    justify-content: center;
}
.Tabpanel12 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.MuiAppBar-colorPrimary {
    color: black!important;
    background-color: white!important;
}
.MuiPaper-elevation4 {
    box-shadow: none!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 12px;
}

.card-title {
    margin-bottom: 0.75rem;
    font-size: 15px;
    text-align: left;
    font-weight: 600;
}
.card-text:last-child {
    margin-bottom: 0;
    text-align: left;
}
p.card-text {
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}

.bty.card img {
    height: 190px !important;
    width: 100% !important;
}
.MuiTab-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: whitesmoke;
    padding: 12px;
    font-weight: 700;
    border-radius: 10px;
  
}
 /* .MuiAppBar-root {
    width: unset !important;
    display: flex !important;
    z-index: 1100 !important;
    box-sizing: border-box !important;
    flex-shrink: 0 !important;
    flex-direction: column !important;
}  */
.tabslayout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @media only screen and (max-width : 1200) {
    .MuiTab-wrapper{

    }
} */